@model IEnumerable<AgendCont.Models.Profissional>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ProfissionalId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ProfissionalId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfissionalId })
        </td>
    </tr>
}

</table>
